{
  "branches": [
    {"name": "master"},
    {"name": "release"},
    {"name": "prerelease", channel: "pre/rc", prerelease: "rc"}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/github",
    "@semantic-release/release-notes-generator"
  ]
}