version: 2
jobs:
  build:
    docker:
      - image: circleci/node:13.2.0
    working_directory: ~/temp-test-ci-stuff
    steps:
      - checkout
      - run:
          name: Installing dependencies
          command: npm install
      - persist_to_workspace:
          root: ~/temp-test-ci-stuff
          paths:
            - ./*
  test:
    docker:
      - image: circleci/node:13.2.0
    working_directory: ~/temp-test-ci-stuff
    steps:
      - run:
          name: Running tests
          command: npm test

workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - test:
          requires:
            - build
          filters:
            tags:
              only: /.*/